<style>
    @page {
        margin: 1cm;
    }

    body {
        margin: 0;
        font-family: Arial, sans-serif;
        font-size: 12px;
    }

    .layout {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .layout-item {
        width: 6cm;
        border: 1px dashed #000;
        padding: 10px;
    }

    .judul {
        text-align: center;
        font-size: 12;
        font-weight: 600;
    }

    table td {
        border-bottom: 1px dotted #000;
        font-size: 12;
    }

    td.right {
        text-align: right;
    }

    td.total {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        font-weight: 600;
    }

    .ket {
        text-align: center;
    }
</style>

<!-- batas -->
<div class="layout">
    @foreach ($data['tagihan'] as $siswa)
    <div class="layout-item">
        <div class="judul">Rincian Administrasi <br> SMP Ma'arif NU 01 Wanareja</div>
        <hr>
        <div class="info">
            Nama : {{ $siswa['nama_siswa'] }} <br>
            Kelas : xxx
        </div>
        <hr>
        <table cellspacing="0" width="100%">
            @foreach ($siswa['items'] as $item)
            <tr>
                <td>{{ $item['infaq_name'] }}</td>
                <td class="right">{{ number_format($item['sisa'], 0, ',', '.') }}</td>
            </tr>
            @endforeach
            <tr>
                <td class="total">Total</td>
                <td class="total right">1</td>
            </tr>
        </table>
        <div class="ket">Ket. : Belum Lunas</div>
        <hr>
        <div class="ket"> Jika ada kesalahan, silakan bisa
            menghubungi Bendahara Ining Suryani, S.Ag. 0881010822346 <br>
            Terima Kasih</div>
    </div>

    @endforeach
</div>