# ===========================
# PANDUAN INSTALASI
# ===========================
# Sebelum memulai, copy file '.env.example' dan ubah menjadi '.env'
# 1. Isi APP_KEY dengan mengunjungi link https://www.convertsimple.com/random-base64-generator/
# 2. Isi APP_URL dengan alamat website Anda. Contoh: https://websitesekolah.com
# 3. Isi DB_DATABASE dengan nama database yang sudah dibuat di PhpMyadmin. Jika belum membuat, buat terlebih dahulu.
# 4. Isi DB_USERNAME dengan nama username database. Jika belum membuat, buat terlebih dahulu di menu Database dan hubungkan username tersebut dengan tabel yang sudah dibuat.
# 5. Isi DB_PASSWORD dengan password dari username database.
# 6. Download file 'Database-Awal.sql' kemudian buka PhpMyadmin, klik nama tabel yang baru dibuat, kemudian klik IMPORT dan pilih file 'Database-Awal.sql'
# 7. Selesai, aplikasi dapat digunakan dengan login menggunakan:
# Username: admin
# Password: 12345
# Segera ubah password tersebut di menu Pengaturan -> Kelola Data Guru

APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
